// Tab3.module.scss
.tab3-container {
  margin-top: 20px;
}

.input-field {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
}

.output-messages {
  margin-top: 10px;
}

.output-message {
  padding: 3px 0;
}
