// Tabs.module.scss
.tabs-container {
  margin-top: 20px;
}

.nav-tabs {
  margin-bottom: 15px;
}

.tab-content {
  padding: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-top: none;
}

.nav-link {
  &:hover {
    cursor: pointer;
  }
}
